body {
    padding: 0;
    margin: 0;
}

#app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: blue;
    color: white;
    font-family: Impact, 'Arial Black';
    text-shadow: 2px 2px darkblue;
}

#app:before {
    content: "JSpardy!";
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    font-size: 10em;
    text-align: center;
    opacity: .2;
}

#board {
    flex: 7;
    display: flex;
    border: 5px solid darkblue;
    position: relative;
}

#board .column {
    flex: 1;
    display: flex;
    flex-direction: column; 
    text-align: center;
}

#board .column:last-child {
    border-right: 0;
}


#board .card, #board .cardheader {
    flex: 1;
    border: 5px solid darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transition: all .4s ease-in;
}

#board .cardheader {
    font-size: 0.85em;
    border-bottom-width: 10px;
}

#board .cardheader > h1 {
    display: none;
}

#board .cardheader.visible > h1 {
    display: block;
}

#board .cardheader .big {
    position: absolute;
    top: 11.5vh;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 200px;
    opacity: 0;
    transform: scale(0.005);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.1);
    transition: transform .5s ease-out, opacity .5s ease-in;
    transform-origin: 50% 50%;
}

#board .cardheader .big > span {
    font-size: 6em;
}

#board .cardheader.highlight .big {
    opacity: 1;
    transform: scale(1);
}

#board .card {
    cursor: pointer;
    opacity: 0;
    transition: opacity .5s ease-out;
}

#board .card:nth-child(3) {
    transition-delay: .2s;
}
#board .card:nth-child(4) {
    transition-delay: .4s;
}
#board .card:nth-child(5) {
    transition-delay: .6s;
}
#board .card:nth-child(6) {
    transition-delay: .8s;
}
#board .card:nth-child(7) {
    transition-delay: 1s;
}

#board.start .card {
    opacity: 1;
}


#board .card > span {
    color: gold;
    font-size: 3em;   
}

#board .card > span:before {
    content: "$";
    font-size: 0.9em;
}

#board .question {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: green;
    padding: 0 200px;
    display: none;
    align-items: center;
    justify-content: center;
}

#board .question > span {
    font-size: 4em;
}

#board .answer {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: blue;
    padding: 0 200px;
    opacity: 0;
    transform: scale(0.005);
    display: flex;
    align-items: center;
    justify-content: center;
}

#board .answer > span {
    font-size: 3em;
}

#board .open .answer {
    opacity: 1;
    transform: scale(1);
    transition: transform .5s ease-out, opacity .5s ease-out;
    transform-origin: 50% 50%;
}

#board .show .question {
    display: flex;
}

#board .done > span {
    display: none;
}

#players {
    flex: 2;
    display: flex;
    border: 5px solid darkblue;
    border-top: 0;
}

#players .player {
    flex: 1;
    border: 5px solid darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#players .player > input {
    background: transparent;
    border: 0;
    font-size: 1.5em;
    font-family: Impact, 'Arial Black';
    color: white;
    text-shadow: 2px 2px darkblue;
    text-align: center;
    width: 90%;
    outline: 0;
    position: relative;
    z-index: 3;
    margin: 0;
    cursor: pointer;
}

#players .player > span {
    position: relative;
    z-index: 3;
    display: block;
    color: gold;
    font-size: 1.2em;  
}

#players .player > span:before {
    content: "$";
    font-size: 0.9em;
}

#players .player:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: -50%;
    width: 50%;
    background: red;
    transition: left .05s ease-in;
}

#players .player:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: -50%;
    width: 50%;
    background: red;
    transition: right .05s ease-in;
}

#players .player.buzzed:before {
    left: 0;
}

#players .player.buzzed:after {
    right: 0;
}

